body {
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}

.logo {
    flex: 0.8;
    margin-left: 60px;
}

.enlaces {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 60px;
}

.enlaces li {
    margin-left: 75px;
}
.enlaces li a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}
.enlaces li a:hover{
    color: #E5670B;
}
.enlaces li a.cerrar-sesion{
    background: #E5670B;
    padding: 5px 11px;
    border-radius: 5px;
    color: #fff;
}
.enlaces li a.cerrar-sesion:hover{
    background: #D4560A;
}
#activo{
    text-decoration: underline;
}

.imagen-fondo {
    background-image: url("/img/fondo.png");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 61px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.capa-gris {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Color grisáceo con transparencia */
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    z-index: 4;
    background: #ffffff;
    color: #000;
    border-radius: 10px;
    margin: 15px;
    width: 75%;
    height: 75%;
}

.contenido h2{
    width: fit-content; /* Para que el ancho del elemento sea solo lo que necesita */
    margin: 15px auto; /* Margen superior e inferior de 15px, y margen izquierdo y derecho automáticos */
    font-family: "Tahoma", sans-serif;
}
.boton{
    margin: 0; /* Añade un margen a los botones */
    font-size: 18px;
    padding: 7px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#B10028, #D55005);
    vertical-align: middle;
    color: #fff;
    z-index: 5;
}
.boton:hover {
    background:linear-gradient(#A00017, #C44004);
}
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    z-index: 4;
    background: #ffffff;
    color: #000;
    margin: 15px;
    border-radius: 18px;
    width: 85%;
    height: 75%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.div-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de 'center' a 'flex-start' */
    width: 100%;
    height: 100%;
    border-radius: 18px;

}
table {
    border-collapse: collapse;
    border-radius: 18px;
    width: 100%;
    height: fit-content;

}



.contenido table th{
    font-size: 18px;
    font-weight: 600;
}
.contenido tabla td {
    font-size: 18px;
    font-weight: 400;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
}

table th {
    background-color: #f2f2f2;
}
table td{
    text-align: center;
    background: #fff;

}

h1 {
    position: absolute;
    top: 0;
    left: 5%;
    color: #fff;
    white-space: nowrap;
}

.contenido2 {
    display: flex;
    flex-direction: column; /* Alinea los hijos en una columna */
    align-items: center;
    width: auto;
    height: auto;
}

.filtro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    z-index: 4;
    background: #ffffff;
    color: #000;
    border-radius: 10px;
    margin: 15px;
    width: auto;
    height: auto;
    font-family: "Tahoma", sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto dentro de los elementos */
    margin: 10px; /* Opcional: elimina márgenes predeterminados */
}

.formulario p {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.formulario .entrada {
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding y border no afecten al ancho total */
    margin-bottom: 10px; /* Espaciado inferior para separación visual */
}
.filtrar {
    background: linear-gradient(#B10028, #D55005);
    display: flex;
    justify-content: center;
    padding: 7px 12px;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: none;
    border: none;
    font-size: 1.1em;
}
.filtrar:hover {
    background: linear-gradient(#A00017, #C44004);
}

